
# **Group Members:** 

**1. Priya Kumari Neha  
2. Gong Lechen  
3. Li Jiahe  
4. Huang Tzu-Ching**

In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/kaggle/input/yelp-dataset/Dataset_User_Agreement.pdf
/kaggle/input/yelp-dataset/yelp_academic_dataset_review.json
/kaggle/input/yelp-dataset/yelp_academic_dataset_checkin.json
/kaggle/input/yelp-dataset/yelp_academic_dataset_business.json
/kaggle/input/yelp-dataset/yelp_academic_dataset_tip.json
/kaggle/input/yelp-dataset/yelp_academic_dataset_user.json

# YELP Checkin Dataset and its Metadata

In [45]:
# checkin data
checkin_df = pd.read_json('/kaggle/input/yelp-dataset/yelp_academic_dataset_checkin.json', lines=True, nrows=5000)
checkin_df['date'] = checkin_df['date'].str.split(', ')
checkin_df = checkin_df.explode('date')
checkin_df['date'] = pd.to_datetime(checkin_df['date'], errors='coerce')
checkin_df = checkin_df.dropna(subset=['date'])
checkin_df['checkin_id'] = range(1, len(checkin_df) + 1)
# time period and scope of checkin
e_dt = str(checkin_df['date'].min())[:19]
l_dt = checkin_df['date'].max()
print("Checkin table earliest date:", e_dt)
print("Checkin table latest date:", l_dt)
# structure of checkin
checkin_df.info()
checkin_df.head()

Checkin table earliest date: 2010-01-16 14:36:14
Checkin table latest date: 2022-01-19 16:35:37
<class 'pandas.core.frame.DataFrame'>
Index: 554073 entries, 0 to 4999
Data columns (total 3 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   business_id  554073 non-null  object
 1   date         554073 non-null  datetime64[ns]
 2   checkin_id   554073 non-null  int64
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 16.9+ MB

              business_id                date  checkin_id
0  ---kPU91CF4Lq2-WlRu9Lw 2020-03-13 21:10:56           1
0  ---kPU91CF4Lq2-WlRu9Lw 2020-06-02 22:18:06           2
0  ---kPU91CF4Lq2-WlRu9Lw 2020-07-24 22:42:27           3
0  ---kPU91CF4Lq2-WlRu9Lw 2020-10-24 21:36:13           4
0  ---kPU91CF4Lq2-WlRu9Lw 2020-12-09 21:23:33           5

This Checkin dataset provides timestamps for user visits to businesses. It has the following columns:

1. business_id: 22 character string which maps to business in business.json.
2. date: records the date in the YYYY-MM-DD HH:MM:SS format, and is a comma-separated list of timestamps for each checkin.

# YELP Business Dataset and its Metadata

In [5]:
# business data
business_df = pd.read_json('/kaggle/input/yelp-dataset/yelp_academic_dataset_business.json', lines=True, nrows=5000)
business_df['attributes'] = business_df['attributes'].astype(str)
business_df['hours'] = business_df['hours'].astype(str)
# structure of business
business_df.info()
business_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   business_id   5000 non-null   object
 1   name          5000 non-null   object
 2   address       5000 non-null   object
 3   city          5000 non-null   object
 4   state         5000 non-null   object
 5   postal_code   5000 non-null   object
 6   latitude      5000 non-null   float64
 7   longitude     5000 non-null   float64
 8   stars         5000 non-null   float64
 9   review_count  5000 non-null   int64
 10  is_open       5000 non-null   int64
 11  attributes    5000 non-null   object
 12  categories    4995 non-null   object
 13  hours         5000 non-null   object
dtypes: float64(3), int64(2), object(9)
memory usage: 547.0+ KB

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,CA,93101,34.426679,-119.711197,5.0,7,0,{'ByAppointmentOnly': 'True'},"Doctors, Traditional Chinese Medicine, Naturop...",None
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,MO,63123,38.551126,-90.335695,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ..."
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,AZ,85711,32.223236,-110.880452,3.5,22,0,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Department Stores, Shopping, Fashion, Home & G...","{'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ..."
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,PA,18054,40.338183,-75.471659,4.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","Brewpubs, Breweries, Food","{'Wednesday': '14:0-22:0', 'Thursday': '16:0-2..."

This Business dataset Contains information on various businesses listed on Yelp, such as the business name, category, location (address, city, state, postal code, latitude/longitude), hours of operation, and star ratings. It has the following columns:

1. business_id: 22 character string for business id, maps to business in business.json
2. name : string for the business's name
3. address : string displaying the full address of the business
4. city : one of 8 metripolitan cities (string) in the US and Canada  
5. state: string for the state in which the city exists
6. postal code: string for postal code of the city
7. latitude: a float datatype for latitude of the city
8. longitude: a float datatype for longitude of the city
9. stars: a float showing rating in terms of stars
10. review-count: integer value for number of reviews obtained
11. is_open : integer, 0 or 1 for closed or open
12. attributes : business attributes with corresponding values. Some are objects. For instance: Business Parking (with 'garage', 'valet' etc)
13. categories : array of strings of business categories
14. hours: object of key day to value hours, hours are using a 24hr clock

# YELP Review Dataset and its Metadata

In [6]:
# review data
review_df = pd.read_json('/kaggle/input/yelp-dataset/yelp_academic_dataset_review.json', lines=True, nrows=5000)
# time period and scope of review
e_dt = review_df['date'].min()
l_dt = review_df['date'].max()
print("Review table earliest date:", e_dt)
print("Review table latest date:", l_dt)
# structure of review
review_df.info()
review_df.head()

Review table earliest date: 2005-03-12 03:47:06
Review table latest date: 2018-10-04 18:10:01
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   review_id    5000 non-null   object
 1   user_id      5000 non-null   object
 2   business_id  5000 non-null   object
 3   stars        5000 non-null   int64
 4   useful       5000 non-null   int64
 5   funny        5000 non-null   int64
 6   cool         5000 non-null   int64
 7   text         5000 non-null   object
 8   date         5000 non-null   datetime64[ns]
dtypes: datetime64[ns](1), int64(4), object(4)
memory usage: 351.7+ KB

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11
1,BiTunyQ73aT9WBnpR9DZGw,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5,1,0,1,I've taken a lot of spin classes over the year...,2012-01-03 15:28:18
2,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3,0,0,0,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30
3,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5,1,0,1,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03
4,Sx8TMOWLNuJBWer-0pcmoA,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4,1,0,1,Cute interior and owner (?) gave us tour of up...,2017-01-14 20:54:15

This Review dataset Contains user reviews for each business.
It has the following columns:
1. review_id: 22 characters length unique string
2. user_id: 22 characters length unique string, maps to the user in user.json
3. business_id: 22 characters length string for business id, maps to business in business.json
4. stars: integer showing rating in terms of stars
5. useful : integer for number of useful votes obtained
6. funny : integer for number of funny votes obtained
7. cool : integer for number of cool votes obtained
8. text: string showing the review
9. date: string, records the date in the YYYY-MM-DD HH:MM:SS format

# YELP Tip Dataset and its Metadata

In [7]:
# tip data
tip_df = pd.read_json('/kaggle/input/yelp-dataset/yelp_academic_dataset_tip.json', lines=True, nrows=5000)
tip_df['tip_id'] = range(1, len(tip_df) + 1)
# time period and scope of tip
e_dt = tip_df['date'].min()
l_dt = tip_df['date'].max()
print("Tip table earliest date:", e_dt)
print("Tip table latest date:", l_dt)
# structure of tip
tip_df.info()
tip_df.head()

Tip table earliest date: 2009-04-24 04:59:59
Tip table latest date: 2018-05-04 22:32:49
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   user_id           5000 non-null   object
 1   business_id       5000 non-null   object
 2   text              5000 non-null   object
 3   date              5000 non-null   datetime64[ns]
 4   compliment_count  5000 non-null   int64
 5   tip_id            5000 non-null   int64
dtypes: datetime64[ns](1), int64(2), object(3)
memory usage: 234.5+ KB

,user_id,business_id,text,date,compliment_count,tip_id
0,AGNUgVwnZUey3gcPCJ76iw,3uLgwr0qeCNMjKenHJwPGQ,Avengers time with the ladies.,2012-05-18 02:17:21,0,1
1,NBN4MgHP9D3cw--SnauTkA,QoezRbYQncpRqyrLH6Iqjg,They have lots of good deserts and tasty cuban...,2013-02-05 18:35:10,0,2
2,-copOvldyKh1qr-vzkDEvw,MYoRNLb5chwjQe3c_k37Gg,It's open even when you think it isn't,2013-08-18 00:56:08,0,3
3,FjMQVZjSqY8syIO-53KFKw,hV-bABTK-glh5wj31ps_Jw,Very decent fried chicken,2017-06-27 23:05:38,0,4
4,ld0AperBXk1h6UbqmM80zw,_uN0OudeJ3Zl_tf6nxg5ww,Appetizers.. platter special for lunch,2012-10-06 19:43:09,0,5

This Tip dataset includes brief recommendations or insights left by a user on a business. Tips are short text entries (similar to social media posts) distinct from formal reviews.
It has the following columna:

1. user_id: 22 characters length unique string, maps to the user in user.json
2. business_id: 22 characters length string for business id, maps to business in business.json
3. text: string for the corresponding text
4. date: string, when the tip was written, formatted like YYYY-MM-DD HH:MM:SS
5. compliment_count:  integer value for number of compliments the text has

# YELP User Dataset and its Metadata

In [8]:
# user data
user_df = pd.read_json('/kaggle/input/yelp-dataset/yelp_academic_dataset_user.json', lines=True, nrows=5000)
# time period and scope of user
e_dt = user_df['yelping_since'].min()
l_dt = user_df['yelping_since'].max()
print("User table earliest date:", e_dt)
print("User table latest date:", l_dt)
# structure of user
user_df.info()
user_df.head()

User table earliest date: 2005-01-03 18:01:35
User table latest date: 2013-07-30 17:49:45
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 22 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   user_id             5000 non-null   object
 1   name                5000 non-null   object
 2   review_count        5000 non-null   int64
 3   yelping_since       5000 non-null   object
 4   useful              5000 non-null   int64
 5   funny               5000 non-null   int64
 6   cool                5000 non-null   int64
 7   elite               5000 non-null   object
 8   friends             5000 non-null   object
 9   fans                5000 non-null   int64
 10  average_stars       5000 non-null   float64
 11  compliment_hot      5000 non-null   int64
 12  compliment_more     5000 non-null   int64
 13  compliment_profile  5000 non-null   int64
 14  compliment_cute     5000 non-null   int64
 15  compliment_list     5000 non-null   int64
 16  compliment_note     5000 non-null   int64
 17  compliment_plain    5000 non-null   int64
 18  compliment_cool     5000 non-null   int64
 19  compliment_funny    5000 non-null   int64
 20  compliment_writer   5000 non-null   int64
 21  compliment_photos   5000 non-null   int64
dtypes: float64(1), int64(16), object(5)
memory usage: 859.5+ KB

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,qVc8ODYU5SZjKXVBgXdI7w,Walker,585,2007-01-25 16:47:26,7217,1259,5994,2007,"NSCy54eWehBJyZdG2iE84w, pe42u7DcCH2QmI81NX-8qA...",267,...,65,55,56,18,232,844,467,467,239,180
1,j14WgRoU_-2ZE1aw1dXrJg,Daniel,4333,2009-01-25 04:35:42,43091,13066,27281,"2009,2010,2011,2012,2013,2014,2015,2016,2017,2...","ueRPE0CX75ePGMqOFVj6IQ, 52oH4DrRvzzl8wh5UXyU0A...",3138,...,264,184,157,251,1847,7054,3131,3131,1521,1946
2,2WnXYQFK0hXEoTxPtV2zvg,Steph,665,2008-07-25 10:41:00,2086,1010,1003,"2009,2010,2011,2012,2013","LuO3Bn4f3rlhyHIaNfTlnA, j9B4XdHUhDfTKVecyWQgyA...",52,...,13,10,17,3,66,96,119,119,35,18
3,SZDeASXq7o05mMNLshsdIA,Gwen,224,2005-11-29 04:38:33,512,330,299,"2009,2010,2011","enx1vVPnfdNUdPho6PH_wg, 4wOcvMLtU6a9Lslggq74Vg...",28,...,4,1,6,2,12,16,26,26,10,9
4,hA5lMy-EnncsH4JoR-hFGQ,Karen,79,2007-01-05 19:40:59,29,15,7,,"PBK4q9KEEBHhFvSXCUirIw, 3FWPpM7KU1gXeOM_ZbYMbA...",1,...,1,0,0,0,1,1,0,0,0,0

This User dataset provides information about users on Yelp, including their ID, the number of reviews they’ve written, their average rating, and social interactions on the platform. It has the following columns:
 
 1. user_id: 22 characters unique string, maps to the user in user.json
 2. name: string for the user's first name
 3. review_count: integer for number of reviews written
 4. yelping_since: string, when the user joined Yelp, formatted like YYYY-MM-DD HH:MM:SS
 5. friends: array of strings, an array of the user's friend as user_ids
 6. useful : integer for number of useful votes obtained 
 7. funny : integer for number of funny votes obtained 
 8. cool : integer for number of cool votes obtained 
 9. fans : integer for number of fans user has 
 10. elite: array of integers, the years the user was elite
 11. average_stars: a float showing average rating of all reviews in terms of stars 
 12. compliment_hot: integer, number of hot compliments received by the user 
 13. compliment_more : integer, number of more compliments received by the user 
 14. compliment_profile : integer, number of profile compliments received by the user 
 15. compliment_cute : integer, number of cute compliments received by the user 
 16. compliment_list : integer, number of list compliments received by the user 
 17. compliment_note : integer, number of note compliments received by the user
 18. compliment_plain : integer, number of plain compliments received by the user
 19. compliment_cool : integer, number of cool compliments received by the user 
 20. compliment_funny: integer, number of funny compliments received by the user 
 21. compliment_writer : integer, number of writer compliments received by the user 
 22. compliment_photos : integer, number of photo compliments received by the user

# Connect to Azure SQL Database Server

In [9]:
# Install packages
from sqlalchemy import create_engine
!pip install PyMySql
import pymysql
import sqlalchemy
!pip install pyodbc

!apt-get update
!apt-get install -y unixodbc-dev

 #install Microsoft ODBC Driver for SQL Server
!curl https://packages.microsoft.com/keys/microsoft.asc | apt-key add -
!curl https://packages.microsoft.com/config/ubuntu/20.04/prod.list | tee /etc/apt/sources.list.d/msprod.list
!apt-get update
!ACCEPT_EULA=Y apt-get install -y msodbcsql17

Collecting PyMySql
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 45.0/45.0 kB 1.9 MB/s eta 0:00:00
Installing collected packages: PyMySql
Successfully installed PyMySql-1.1.1
Collecting pyodbc
  Downloading pyodbc-5.2.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (2.7 kB)
Downloading pyodbc-5.2.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (336 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 336.0/336.0 kB 6.6 MB/s eta 0:00:00:00:01
Installing collected packages: pyodbc
Successfully installed pyodbc-5.2.0
Hit:1 http://archive.ubuntu.com/ubuntu focal InRelease
Get:2 http://archive.ubuntu.com/ubuntu focal-updates InRelease [128 kB]
Get:3 http://security.ubuntu.com/ubuntu focal-security InRelease [128 kB]
Get:4 http://archive.ubuntu.com/ubuntu focal-backports InRelease [128 kB]
Get:5 https://packages.cloud.google.com/apt gcsfuse-focal InRelease [1227 B]
Get:6 https://packages.cloud.google.com/apt cloud-sdk InRelease [1618 B]
Get:7 http://security.ubuntu.com/ubuntu focal-security/main amd64 Packages [4083 kB]
Get:8 http://security.ubuntu.com/ubuntu focal-security/universe amd64 Packages [1275 kB]
Get:9 http://security.ubuntu.com/ubuntu focal-security/multiverse amd64 Packages [30.9 kB]
Get:10 http://security.ubuntu.com/ubuntu focal-security/restricted amd64 Packages [4105 kB]
Get:11 http://archive.ubuntu.com/ubuntu focal-updates/universe amd64 Packages [1566 kB]
Get:12 http://archive.ubuntu.com/ubuntu focal-updates/multiverse amd64 Packages [33.5 kB]
Get:13 http://archive.ubuntu.com/ubuntu focal-updates/main amd64 Packages [4546 kB]
Get:14 http://archive.ubuntu.com/ubuntu focal-updates/restricted amd64 Packages [4258 kB]
Get:15 https://packages.cloud.google.com/apt gcsfuse-focal/main amd64 Packages [28.6 kB]
Get:16 https://packages.cloud.google.com/apt cloud-sdk/main all Packages [1564 kB]
Get:17 https://packages.cloud.google.com/apt cloud-sdk/main amd64 Packages [3375 kB]
Fetched 25.3 MB in 2s (12.0 MB/s)
Reading package lists... Done
Reading package lists... Done
Building dependency tree
Reading state information... Done
The following additional packages will be installed:
  autoconf automake autotools-dev file libltdl-dev libmagic-mgc libmagic1
  libodbc1 libsigsegv2 libtool m4 odbcinst odbcinst1debian2
Suggested packages:
  autoconf-archive gnu-standards autoconf-doc gettext libtool-doc libmyodbc
  odbc-postgresql tdsodbc unixodbc-bin gfortran | fortran95-compiler gcj-jdk
  m4-doc
The following NEW packages will be installed:
  autoconf automake autotools-dev file libltdl-dev libmagic-mgc libmagic1
  libodbc1 libsigsegv2 libtool m4 odbcinst odbcinst1debian2 unixodbc-dev
0 upgraded, 14 newly installed, 0 to remove and 59 not upgraded.
Need to get 2212 kB of archives.
After this operation, 15.3 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu focal/main amd64 libmagic-mgc amd64 1:5.38-4 [218 kB]
Get:2 http://archive.ubuntu.com/ubuntu focal/main amd64 libmagic1 amd64 1:5.38-4 [75.9 kB]
Get:3 http://archive.ubuntu.com/ubuntu focal/main amd64 file amd64 1:5.38-4 [23.3 kB]
Get:4 http://archive.ubuntu.com/ubuntu focal/main amd64 libsigsegv2 amd64 2.12-2 [13.9 kB]
Get:5 http://archive.ubuntu.com/ubuntu focal/main amd64 m4 amd64 1.4.18-4 [199 kB]
Get:6 http://archive.ubuntu.com/ubuntu focal/main amd64 autoconf all 2.69-11.1 [321 kB]
Get:7 http://archive.ubuntu.com/ubuntu focal/main amd64 autotools-dev all 20180224.1 [39.6 kB]
Get:8 http://archive.ubuntu.com/ubuntu focal/main amd64 automake all 1:1.16.1-4ubuntu6 [522 kB]
Get:9 http://archive.ubuntu.com/ubuntu focal/main amd64 libltdl-dev amd64 2.4.6-14 [162 kB]
Get:10 http://archive.ubuntu.com/ubuntu focal-updates/main amd64 libodbc1 amd64 2.3.6-0.1ubuntu0.1 [190 kB]
Get:11 http://archive.ubuntu.com/ubuntu focal/main amd64 libtool all 2.4.6-14 [161 kB]
Get:12 http://archive.ubuntu.com/ubuntu focal-updates/main amd64 odbcinst1debian2 amd64 2.3.6-0.1ubuntu0.1 [41.7 kB]
Get:13 http://archive.ubuntu.com/ubuntu focal-updates/main amd64 odbcinst amd64 2.3.6-0.1ubuntu0.1 [14.5 kB]
Get:14 http://archive.ubuntu.com/ubuntu focal-updates/main amd64 unixodbc-dev amd64 2.3.6-0.1ubuntu0.1 [230 kB]
Fetched 2212 kB in 0s (15.6 MB/s)
Selecting previously unselected package libmagic-mgc.
(Reading database ... 115958 files and directories currently installed.)
Preparing to unpack .../00-libmagic-mgc_1%3a5.38-4_amd64.deb ...
Unpacking libmagic-mgc (1:5.38-4) ...
Selecting previously unselected package libmagic1:amd64.
Preparing to unpack .../01-libmagic1_1%3a5.38-4_amd64.deb ...
Unpacking libmagic1:amd64 (1:5.38-4) ...
Selecting previously unselected package file.
Preparing to unpack .../02-file_1%3a5.38-4_amd64.deb ...
Unpacking file (1:5.38-4) ...
Selecting previously unselected package libsigsegv2:amd64.
Preparing to unpack .../03-libsigsegv2_2.12-2_amd64.deb ...
Unpacking libsigsegv2:amd64 (2.12-2) ...
Selecting previously unselected package m4.
Preparing to unpack .../04-m4_1.4.18-4_amd64.deb ...
Unpacking m4 (1.4.18-4) ...
Selecting previously unselected package autoconf.
Preparing to unpack .../05-autoconf_2.69-11.1_all.deb ...
Unpacking autoconf (2.69-11.1) ...
Selecting previously unselected package autotools-dev.
Preparing to unpack .../06-autotools-dev_20180224.1_all.deb ...
Unpacking autotools-dev (20180224.1) ...
Selecting previously unselected package automake.
Preparing to unpack .../07-automake_1%3a1.16.1-4ubuntu6_all.deb ...
Unpacking automake (1:1.16.1-4ubuntu6) ...
Selecting previously unselected package libltdl-dev:amd64.
Preparing to unpack .../08-libltdl-dev_2.4.6-14_amd64.deb ...
Unpacking libltdl-dev:amd64 (2.4.6-14) ...
Selecting previously unselected package libodbc1:amd64.
Preparing to unpack .../09-libodbc1_2.3.6-0.1ubuntu0.1_amd64.deb ...
Unpacking libodbc1:amd64 (2.3.6-0.1ubuntu0.1) ...
Selecting previously unselected package libtool.
Preparing to unpack .../10-libtool_2.4.6-14_all.deb ...
Unpacking libtool (2.4.6-14) ...
Selecting previously unselected package odbcinst1debian2:amd64.
Preparing to unpack .../11-odbcinst1debian2_2.3.6-0.1ubuntu0.1_amd64.deb ...
Unpacking odbcinst1debian2:amd64 (2.3.6-0.1ubuntu0.1) ...
Selecting previously unselected package odbcinst.
Preparing to unpack .../12-odbcinst_2.3.6-0.1ubuntu0.1_amd64.deb ...
Unpacking odbcinst (2.3.6-0.1ubuntu0.1) ...
Selecting previously unselected package unixodbc-dev:amd64.
Preparing to unpack .../13-unixodbc-dev_2.3.6-0.1ubuntu0.1_amd64.deb ...
Unpacking unixodbc-dev:amd64 (2.3.6-0.1ubuntu0.1) ...
Setting up libmagic-mgc (1:5.38-4) ...
Setting up libmagic1:amd64 (1:5.38-4) ...
Setting up file (1:5.38-4) ...
Setting up autotools-dev (20180224.1) ...
Setting up libsigsegv2:amd64 (2.12-2) ...
Setting up libodbc1:amd64 (2.3.6-0.1ubuntu0.1) ...
Setting up libtool (2.4.6-14) ...
Setting up m4 (1.4.18-4) ...
Setting up autoconf (2.69-11.1) ...
Setting up automake (1:1.16.1-4ubuntu6) ...
update-alternatives: using /usr/bin/automake-1.16 to provide /usr/bin/automake (automake) in auto mode
update-alternatives: warning: skip creation of /usr/share/man/man1/automake.1.gz because associated file /usr/share/man/man1/automake-1.16.1.gz (of link group automake) doesn't exist
update-alternatives: warning: skip creation of /usr/share/man/man1/aclocal.1.gz because associated file /usr/share/man/man1/aclocal-1.16.1.gz (of link group automake) doesn't exist
Setting up libltdl-dev:amd64 (2.4.6-14) ...
Setting up odbcinst1debian2:amd64 (2.3.6-0.1ubuntu0.1) ...
Setting up unixodbc-dev:amd64 (2.3.6-0.1ubuntu0.1) ...
Setting up odbcinst (2.3.6-0.1ubuntu0.1) ...
Processing triggers for libc-bin (2.31-0ubuntu9.16) ...
Processing triggers for man-db (2.9.1-1) ...
Processing triggers for install-info (6.7.0.dfsg.2-5) ...
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   983  100   983    0     0  12562      0 --:--:-- --:--:-- --:--:-- 12602
OK
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100    89  100    89    0     0   1177      0 --:--:-- --:--:-- --:--:--  1186
deb [arch=amd64,armhf,arm64] https://packages.microsoft.com/ubuntu/20.04/prod focal main
Get:1 https://packages.microsoft.com/ubuntu/20.04/prod focal InRelease [3632 B]
Hit:2 https://packages.cloud.google.com/apt gcsfuse-focal InRelease
Hit:3 https://packages.cloud.google.com/apt cloud-sdk InRelease
Hit:4 http://security.ubuntu.com/ubuntu focal-security InRelease
Hit:5 http://archive.ubuntu.com/ubuntu focal InRelease
Hit:6 http://archive.ubuntu.com/ubuntu focal-updates InRelease
Get:7 https://packages.microsoft.com/ubuntu/20.04/prod focal/main arm64 Packages [68.1 kB]
Get:8 https://packages.microsoft.com/ubuntu/20.04/prod focal/main amd64 Packages [319 kB]
Hit:9 http://archive.ubuntu.com/ubuntu focal-backports InRelease
Get:10 https://packages.microsoft.com/ubuntu/20.04/prod focal/main all Packages [2938 B]
Get:11 https://packages.microsoft.com/ubuntu/20.04/prod focal/main armhf Packages [22.8 kB]
Fetched 417 kB in 1s (360 kB/s)
Reading package lists... Done
Reading package lists... Done
Building dependency tree
Reading state information... Done
The following additional packages will be installed:
  libodbc1 odbcinst odbcinst1debian2 unixodbc unixodbc-dev
Suggested packages:
  unixodbc-bin
The following NEW packages will be installed:
  msodbcsql17 unixodbc
The following packages will be upgraded:
  libodbc1 odbcinst odbcinst1debian2 unixodbc-dev
4 upgraded, 2 newly installed, 0 to remove and 59 not upgraded.
Need to get 1447 kB of archives.
After this operation, 142 kB disk space will be freed.
Get:1 https://packages.microsoft.com/ubuntu/20.04/prod focal/main amd64 odbcinst amd64 2.3.11-1 [21.3 kB]
Get:2 https://packages.microsoft.com/ubuntu/20.04/prod focal/main amd64 unixodbc-dev amd64 2.3.11-1 [42.4 kB]
Get:3 https://packages.microsoft.com/ubuntu/20.04/prod focal/main amd64 odbcinst1debian2 amd64 2.3.11-1 [99.8 kB]
Get:4 https://packages.microsoft.com/ubuntu/20.04/prod focal/main amd64 libodbc1 amd64 2.3.11-1 [486 kB]
Get:5 https://packages.microsoft.com/ubuntu/20.04/prod focal/main amd64 unixodbc amd64 2.3.11-1 [51.5 kB]
Get:6 https://packages.microsoft.com/ubuntu/20.04/prod focal/main amd64 msodbcsql17 amd64 17.10.6.1-1 [746 kB]
Fetched 1447 kB in 0s (5817 kB/s)
Preconfiguring packages ...
(Reading database ... 116412 files and directories currently installed.)
Preparing to unpack .../0-odbcinst_2.3.11-1_amd64.deb ...
Unpacking odbcinst (2.3.11-1) over (2.3.6-0.1ubuntu0.1) ...
Preparing to unpack .../1-unixodbc-dev_2.3.11-1_amd64.deb ...
Unpacking unixodbc-dev (2.3.11-1) over (2.3.6-0.1ubuntu0.1) ...
Preparing to unpack .../2-odbcinst1debian2_2.3.11-1_amd64.deb ...
Unpacking odbcinst1debian2:amd64 (2.3.11-1) over (2.3.6-0.1ubuntu0.1) ...
Preparing to unpack .../3-libodbc1_2.3.11-1_amd64.deb ...
Unpacking libodbc1:amd64 (2.3.11-1) over (2.3.6-0.1ubuntu0.1) ...
Selecting previously unselected package unixodbc.
Preparing to unpack .../4-unixodbc_2.3.11-1_amd64.deb ...
Unpacking unixodbc (2.3.11-1) ...
Selecting previously unselected package msodbcsql17.
Preparing to unpack .../5-msodbcsql17_17.10.6.1-1_amd64.deb ...
Unpacking msodbcsql17 (17.10.6.1-1) ...
Setting up libodbc1:amd64 (2.3.11-1) ...
Setting up odbcinst1debian2:amd64 (2.3.11-1) ...
Setting up odbcinst (2.3.11-1) ...
Setting up unixodbc (2.3.11-1) ...
Setting up msodbcsql17 (17.10.6.1-1) ...
odbcinst: Driver installed. Usage count increased to 1.
    Target directory is /etc
Setting up unixodbc-dev (2.3.11-1) ...
Processing triggers for libc-bin (2.31-0ubuntu9.16) ...
Processing triggers for man-db (2.9.1-1) ...

In [11]:
import pyodbc

connection_string = (
    'DRIVER={ODBC Driver 17 for SQL Server};'
    'SERVER=lecheng6-server.database.windows.net;'
    'DATABASE=Mini Project-Team 2;'
    'UID=sqladmin;'
    'PWD=Glcglc123;'
)

try:
    conn = pyodbc.connect(connection_string, timeout=30)
    print("Connection successful!")
    conn.close()
except pyodbc.Error as e:
    print("Connection failed:", e)

Connection successful!

In [12]:
import pyodbc
from sqlalchemy import create_engine

# Define a connection function for SQLAlchemy to use
def get_pyodbc_connection():
    return pyodbc.connect(
        'DRIVER={ODBC Driver 17 for SQL Server};'
        'SERVER=lecheng6-server.database.windows.net;'
        'DATABASE=Mini Project-Team 2;'
        'UID=sqladmin;'
        'PWD=Glcglc123;'
        'timeout=60;'
    )

# Create the SQLAlchemy engine using the connection function
engine = create_engine("mssql+pyodbc://", creator=get_pyodbc_connection)

try:
    with engine.connect() as connection:
        print("SQLAlchemy Connection successful!")
except Exception as e:
    print("SQLAlchemy Connection failed:", e)

SQLAlchemy Connection successful!

# Upload Dataframes to Azure SQL Tables

In [13]:
# Save dataframe to SQL table "REVIEW"
review_df.to_sql(
    name="REVIEW", 
    con=engine, 
    if_exists='replace', 
    index=True
)

193

In [14]:
# Save dataframe to SQL table "CHECKIN"
checkin_df.to_sql(
    name="CHECKIN", 
    con=engine, 
    if_exists='replace', 
    index=True
)

284

In [15]:
# Save dataframe to SQL table "BUSINESS"
business_df.to_sql(
    name = "BUSINESS", 
    con=engine,
    if_exists='replace',
    index=True,
    dtype={'attributes': sqlalchemy.types.NVARCHAR, 'hours': sqlalchemy.types.NVARCHAR}
)

135

In [16]:
# Save dataframe to SQL table "TIP"
tip_df.to_sql(
    name="TIP", 
    con=engine, 
    if_exists='replace', 
    index=True
)

216

In [17]:
# Save dataframe to SQL table "USER"
user_df.to_sql(
    name="USERS", 
    con=engine, 
    if_exists='replace', 
    index=True
)

86

# Set primary keys in each table in Azure

In [ ]:
-- BUSINESS
ALTER TABLE BUSINESS
DROP CONSTRAINT IF EXISTS PK_BUSINESS; 
ALTER TABLE BUSINESS
ALTER COLUMN business_id VARCHAR(50) NOT NULL; 
ALTER TABLE BUSINESS
ADD CONSTRAINT PK_BUSINESS PRIMARY KEY (business_id); 
-- CHECKIN
ALTER TABLE CHECKIN
DROP CONSTRAINT IF EXISTS PK_CHECKIN; 
ALTER TABLE CHECKIN
ALTER COLUMN checkin_id INT NOT NULL; 
ALTER TABLE CHECKIN
ADD CONSTRAINT PK_CHECKIN PRIMARY KEY (checkin_id); 
-- REVIEW
ALTER TABLE REVIEW
DROP CONSTRAINT IF EXISTS PK_REVIEW; 
ALTER TABLE REVIEW
ALTER COLUMN review_id VARCHAR(50) NOT NULL; 
ALTER TABLE REVIEW
ADD CONSTRAINT PK_REVIEW PRIMARY KEY (review_id); 
-- TIP
ALTER TABLE TIP
DROP CONSTRAINT IF EXISTS PK_TIP; 
ALTER TABLE TIP
ALTER COLUMN tip_id INT NOT NULL; 
ALTER TABLE TIP
ADD CONSTRAINT PK_TIP PRIMARY KEY (tip_id); 
-- USERS
ALTER TABLE USERS
DROP CONSTRAINT IF EXISTS PK_USERS; 
ALTER TABLE USERS
ALTER COLUMN user_id VARCHAR(50) NOT NULL; 
ALTER TABLE USERS
ADD CONSTRAINT PK_USERS PRIMARY KEY (user_id);

# Set foreign keys in each table in Azure

In [ ]:
-- CHECKIN
ALTER TABLE CHECKIN
ADD CONSTRAINT FK_CHECKIN_BUSINESS 
FOREIGN KEY (business_id) REFERENCES BUSINESS(business_id);
-- REVIEW
ALTER TABLE REVIEW
ADD CONSTRAINT FK_REVIEW_BUSINESS 
FOREIGN KEY (business_id) REFERENCES BUSINESS(business_id);
ALTER TABLE REVIEW
ADD CONSTRAINT FK_REVIEW_USERS 
FOREIGN KEY (user_id) REFERENCES USERS(user_id);
-- TIP
ALTER TABLE TIP
ADD CONSTRAINT FK_TIP_BUSINESS 
FOREIGN KEY (business_id) REFERENCES BUSINESS(business_id);
ALTER TABLE TIP
ADD CONSTRAINT FK_TIP_USERS 
FOREIGN KEY (user_id) REFERENCES USERS(user_id);
-- await
ALTER TABLE USERS
ADD CONSTRAINT FK_USERS_USERS 
FOREIGN KEY (user_id) REFERENCES USERS(user_id);

# Business Queries for Opening a New Restaurant

# 1. Top 5 Most Popular Restaurant Categories in a City

In [18]:
query = """
SELECT TOP 5 
    categories, 
    COUNT(business_id) AS num_restaurants
FROM BUSINESS
WHERE city = 'Philadelphia' AND categories LIKE '%Restaurants%'
GROUP BY categories
ORDER BY num_restaurants DESC;
"""

# Execute the query and store the results in a DataFrame
df_popular_categories = pd.read_sql(query, engine)
print(df_popular_categories)

             categories  num_restaurants
0    Restaurants, Pizza               10
1  Restaurants, Chinese                5
2    Pizza, Restaurants                4
3   Korean, Restaurants                2
4  Mexican, Restaurants                2

**Insight:** This query reveals which types of restaurants are most common, indicating strong demand. If a certain category (like Italian or Sushi) dominates, it means it’s popular but also competitive. Alternatively, a less represented but still popular category may offer a niche opportunity with reduced competition.

**Decision-Making:** Choose a cuisine that balances popularity and competition levels. If aiming for a popular category, consider differentiating with unique offerings or exceptional service.

# 2. Best Locations for Restaurants Based on Average Ratings

In [42]:
query = """
SELECT TOP 5 address, AVG(stars) as avg_rating
FROM BUSINESS
WHERE city = 'Philadelphia' AND categories LIKE '%Restaurants%'
GROUP BY address
ORDER BY avg_rating DESC;
"""

# Execute the query and store the results in a DataFrame
df_popular_categories = pd.read_sql(query, engine)
print(df_popular_categories)

             address  avg_rating
0  1703 South 9th St         5.0
1    3334 N Broad St         5.0
2                            4.5
3     1001 Spruce St         4.5
4      104 N 10th St         4.5

**Insight:** Locations with high average ratings suggest areas where customers are likely more satisfied with dining experiences, possibly due to affluent clientele, better service standards, or vibrant surroundings.

**Decision-Making:** Target high-rating areas for higher foot traffic and brand prestige, or select an up-and-coming area with fewer restaurants but a promising rating trend to capture new market potential.

# 3. Average Rating by Cuisine Type in the City

In [26]:
query = """
SELECT categories, AVG(stars) as avg_rating
FROM BUSINESS
WHERE city = 'Philadelphia' AND categories LIKE '%Restaurants%'
GROUP BY categories
ORDER BY avg_rating DESC;
"""

# Execute the query and store the results in a DataFrame
df_rate = pd.read_sql(query, engine)
print(df_rate)

                                            categories  avg_rating
0    Food, Food Trucks, Mediterranean, Sandwiches, ...         5.0
1                                  French, Restaurants         5.0
2    Food, Seafood, Sardinian, Gelato, Restaurants,...         4.5
3    Food, Juice Bars & Smoothies, Coffee & Tea, Re...         4.5
4    Grocery, Vegan, Food, Vegetarian, Convenience ...         4.5
..                                                 ...         ...
175  Restaurants, Fast Food, Food, Coffee & Tea, Bu...         1.5
176         Italian, Chicken Wings, Restaurants, Pizza         1.5
177                    Burgers, Restaurants, Fast Food         1.5
178  Fast Food, Restaurants, Food, Coffee & Tea, Bu...         1.0
179  Fast Food, Food, Burgers, Coffee & Tea, Restau...         1.0

[180 rows x 2 columns]

**Insight:** Different cuisine types may have varying customer satisfaction levels. A consistently high rating in a particular category (e.g., Mediterranean) suggests strong customer appreciation for that cuisine, even if it’s less common.

**Decision-Making:** If a cuisine type with high ratings also has lower competition, it could be a smart choice. Alternatively, a cuisine with low ratings might indicate unmet customer expectations, so you can focus on solving those issues (e.g., healthier menu options, authentic preparation).

# 4.  Good experience of customers Based on Tip

In [50]:
query = """
SELECT 
    COUNT(*) AS checkin_count
FROM TIP
WHERE text LIKE '%good%'
ORDER BY checkin_count DESC;
"""

# Execute the query and store the results in a DataFrame
df_demand = pd.read_sql(query, engine)
print(df_demand)

   checkin_count
0            429

**Insight:** Knowing when customers give good comments helps with staffing, marketing, and promotional planning.

**Decision-Making:** Design attractive customer service.

# 5. Top 5 Restaurants with the Most Reviews

In [31]:
query = """
SELECT TOP 5 name, review_count
FROM BUSINESS
WHERE city = 'Philadelphia' AND categories LIKE '%Restaurants%'
ORDER BY review_count DESC;
"""

# Execute the query and store the results in a DataFrame
df_mostreview = pd.read_sql(query, engine)
print(df_mostreview)

                           name  review_count
0                   Han Dynasty           783
1                       In Riva           729
2  Bareburger - Midtown Village           622
3                      The Love           618
4                 Pub & Kitchen           615

**Insight:** Highly reviewed restaurants have either a strong brand presence or are located in high-traffic areas. Examining these locations and restaurants could reveal what draws customers, such as ambiance, menu variety, or pricing.

**Decision-Making:** Investigate these top restaurants for potential lessons on what attracts diners in the city. Emulating aspects like ambiance, portion sizes, or engagement strategies could help in building a similar customer base.

# 6. Average Rating of Restaurants by Zip Code

In [32]:
query = """
SELECT postal_code, AVG(stars) as avg_rating
FROM BUSINESS
WHERE city = 'Philadelphia' AND categories LIKE '%Restaurants%'
GROUP BY postal_code
ORDER BY avg_rating DESC;
"""

# Execute the query and store the results in a DataFrame
df_ratezip = pd.read_sql(query, engine)
print(df_ratezip)

   postal_code  avg_rating
0        19140    5.000000
1        19139    4.500000
2        19125    4.500000
3        19126    4.500000
4        19176    4.500000
5        19129    4.166667
6        19147    4.117647
7        19138    4.000000
8        19107    3.863636
9        19114    3.750000
10       19152    3.750000
11       19148    3.611111
12       19145    3.600000
13       19134    3.583333
14       19130    3.562500
15       19132    3.500000
16       19103    3.500000
17       19119    3.500000
18       19106    3.450000
19       19104    3.444444
20       19143    3.428571
21       19123    3.333333
22       19127    3.333333
23       19111    3.300000
24       19149    3.250000
25       19153    3.250000
26       19128    3.166667
27       19146    3.166667
28       19136    3.125000
29       19141    3.000000
30       19131    3.000000
31       19118    3.000000
32       19120    3.000000
33       19102    3.000000
34       19154    3.000000
35       19151    2.500000
36       19115    2.500000
37       19124    2.333333
38       19135    2.000000
39       19121    2.000000
40       19122    2.000000

**Insight:** This metric can show which neighborhoods have higher average restaurant ratings, often reflecting both customer satisfaction and demographic factors (e.g., disposable income or lifestyle preferences).

**Decision-Making:** Consider setting up in a high-rated zip code to align with established customer expectations. Alternatively, choose a lower-rated area if you believe you can exceed current standards and attract new customers by standing out.

# 7. Customer Feedback on Service Quality (Based on Keywords)

In [33]:
query = """
SELECT review_id, text
FROM REVIEW
WHERE business_id IN (SELECT business_id FROM BUSINESS WHERE city = 'Philadelphia')
AND text LIKE '%service%';
"""

# Execute the query and store the results in a DataFrame
df_feedback = pd.read_sql(query, engine)
print(df_feedback)

                 review_id                                               text
0   NABhrXkQZp4hhCg_47odVA  Mind blown. This is the best shop I have ever ...
1   VuNZ2IbgXge-X-HsTuzCbA  Great cheesesteak! Friendly and fast service. ...
2   oVSmMGam9q_oh2XMNjDCcw  This is our go-to takeout place. It has great ...
3   JR6yMkNFaYz8ZwxnS2IJNg  I want to thank Eric @paintlessautodents.com \...
4   beE-8wCIxCzVIrsgQgahwQ  Terrible service, food came out cold even afte...
..                     ...                                                ...
65  EeIebnG4LxdcAyWIkJNVJg  Not a vegan or a vegetarian but I love eating ...
66  mfw86JhavKYEDLAcAbw6EA  Delicious and very nicely presented. We had J ...
67  cRHR6glpwKI93bnSlszrgw  Horrible customer service for overpriced drink...
68  ub2BMOwKSTbhbuovib8Gtw  I feel so comfortable with the Mazzoni Center....
69  pbXbIoZwe6cEihaYqbkSHw  It was a pretty cute little restaurant; the at...

[70 rows x 2 columns]

**Insight:** Analyzing reviews mentioning "service" reveals common complaints or praise, helping identify what customers value most in service quality (e.g., friendliness, speed, knowledgeability).

**Decision-Making:** Use this feedback to shape your hiring, training, and customer service policies. If “friendly” is a recurring positive term, emphasize warmth in service; if “slow” is a frequent negative, optimize for speed.

# 8. Identify Gaps in Cuisine Offerings

In [40]:
query = """
SELECT categories, COUNT(business_id) AS num
FROM BUSINESS
WHERE city = 'Philadelphia' AND categories LIKE '%Restaurants%'
GROUP BY categories
HAVING COUNT(business_id) < 5
ORDER BY num;
"""

# Execute the query and store the results in a DataFrame
df_gaps = pd.read_sql(query, engine)
print(df_gaps)

                                            categories  num
0    American (New), Bars, Nightlife, Lounges, Rest...    1
1    American (New), Breakfast & Brunch, Bars, Nigh...    1
2                 American (New), Italian, Restaurants    1
3                          American (New), Restaurants    1
4                    American (New), Restaurants, Food    1
..                                                 ...  ...
173                            Tapas Bars, Restaurants    2
174                               Mexican, Restaurants    2
175                               Restaurants, Mexican    2
176                                Korean, Restaurants    2
177                                 Pizza, Restaurants    4

[178 rows x 2 columns]

**Insight:** Categories with few restaurants represent potential niches, especially if there’s evidence of demand or if those few restaurants have high ratings.

**Decision-Making:** Consider introducing an underrepresented cuisine in the market. For example, if there are few Ethiopian or Brazilian restaurants but a growing demand, it may be a profitable opportunity with minimal competition.

# 9. Analyze Social Media Engagement with Restaurants

In [38]:
query = """
SELECT business_id, COUNT(*) AS social_media_mentions
FROM REVIEW
WHERE text LIKE '%Instagram%' OR text LIKE '%Facebook%' OR text LIKE '%Twitter%'
AND business_id IN (SELECT business_id FROM BUSINESS WHERE city = 'Philadelphia')
GROUP BY business_id
ORDER BY social_media_mentions DESC;
"""

# Execute the query and store the results in a DataFrame
df_social = pd.read_sql(query, engine)
print(df_social)

               business_id  social_media_mentions
0   -6OjnX3ZdDOhHxWR60wysg                      1
1   1wp5t7VQsRSj2qcVDPjzWw                      1
2   71q2UD1A7KL2q4AA8mPobQ                      1
3   8yDgFRYjTYdtBH9PVk9E_w                      1
4   DsKzHnkLKnxZTVsFpts4oA                      1
5   DTIKGgzoKGLCNw2dNKfHZg                      1
6   fBkcjtsVSF7Pvga2GA9BsA                      1
7   gT69S0R0gpmxwjCLznwT4A                      1
8   jnpuQlMSsSUr8WFablTTLQ                      1
9   my0bmPD5dgDFE1ia__LNlw                      1
10  NFlW7mRy9umyG33uIoBDwA                      1
11  pym7c6ZFEtmoH16xN2ApBg                      1
12  Q8q-1MZTYPL9ZBmAeoMKVg                      1
13  sr-5EY6bmp4jINhea06MjA                      1

**Insight:** Identifies restaurants with high social media mentions, indicating strong customer engagement and successful marketing tactics that resonate locally.

**Decision-Making:** Analyze popular restaurants’ social media strategies (e.g., influencer partnerships, photo-worthy dishes) and replicate effective tactics. Create visually appealing dishes and experiences to encourage sharing, and focus marketing efforts on platforms favored by your target audience.

# 10. Top Attributes Valued by Customers in Highly Rated Restaurants

In [39]:
query = """
SELECT attributes, COUNT(*) as frequency
FROM BUSINESS
WHERE city = 'Philadelphia' AND stars >= 4
GROUP BY attributes
ORDER BY frequency DESC;
"""

# Execute the query and store the results in a DataFrame
df_attributes = pd.read_sql(query, engine)
print(df_attributes)

                                            attributes  frequency
0                                                 None         22
1              {'BusinessAcceptsCreditCards': 'False'}          4
2    {'BusinessAcceptsCreditCards': 'True', 'ByAppo...          4
3               {'BusinessAcceptsCreditCards': 'True'}          3
4                              {'GoodForKids': 'True'}          2
..                                                 ...        ...
197  {'BusinessAcceptsCreditCards': 'False', 'Busin...          1
198  {'BusinessAcceptsCreditCards': 'False', 'Busin...          1
199  {'BusinessAcceptsCreditCards': 'False', 'ByApp...          1
200  {'BusinessAcceptsCreditCards': 'False', 'ByApp...          1
201  {'BusinessAcceptsCreditCards': 'False', 'ByApp...          1

[202 rows x 2 columns]

**Insight:** By identifying frequently mentioned attributes in positive reviews (e.g., “outdoor seating,” “organic ingredients,” “locally sourced”), you can understand which elements resonate most with customers.

**Decision-Making:** Incorporate the top-rated attributes into your restaurant concept. For example, if “outdoor seating” is popular, prioritize a layout with patio space, or if “organic” is a valued term, integrate organic options into your menu.